/* =========================================================================== *\
    Footer
\* =========================================================================== */


/* @define Footer */


.Footer {
    background-color:var(--c-sand);
    color: #fff;
}

.Footer-icon img {
    height: 30px;
    width: 30px;
}
